{extend name="main/index" /}

{block name="main"}
<link href="/static/reset.css" rel="stylesheet">
<h1>用户管理</h1><br>
<h4>用户列表</h4>
<hr>
<table class="table">
    <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>真实姓名</th>
        <th>操作</th>
    </tr>
    {volist name="list" id="v"}
    <tr>
        <td>{$v.id}</td>
        <td>{$v.username}</td>
        <td>{$v.name}</td>
        <td>
            <a href="{:url('admin/user/edit',['id' => $v['id']])}" class="btn btn-success btn-default btn-sm1">修改</button>
            <a href="{:url('admin/user/del',['id' => $v['id']])}" class="btn btn-danger btn-default btn-sm1">删除</a>
            <button type="button" class="btn btn-warning btn-default btn-sm1">分配角色</button>
        </td>
    </tr>
    {/volist}
</table>

{/block}
